.TextCenter {
  text-align: center;
}

// mixins
@mixin alignJustify($display: flex, $justify: center, $align: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  @content;
}

@mixin createPseudoElement($width, $height, $display: block, $content: "") {
  content: "";
  width: $width;
  height: $height;
  display: $display;
  @content;
}

@mixin setVisualAppearence($background, $color, $padding: 0.4rem) {
  background-color: $background;
  color: $color;
  padding: $padding;
  @content;
}

@mixin setGrid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
